In [ ]:
name = ['Khushi', 'Raj', 'Sarthak'] # List of names
name

In [2]:
number = [1.5 , 10, 400, 8.62] # List of numbers
number

[1.5, 10, 400, 8.62]

In [5]:
number = [1.5 , 10, 400, 8.62] # We can also use index at
number[1]

10

In [6]:
number = [1.5 , 10, 400, 8.62] # We can also use index at from last position
number[-1]

8.62

In [7]:
number = [1.5 , 10, 400, 8.62] # We can also use index at
number[10]

IndexError: list index out of range

In [8]:
number = [1.5 , 10, 400, 8.62] 
number[2:]

[400, 8.62]

In [9]:
values = [15, 'Changu', 4.45] # we can also create a single list of different datatypes and datastring as one
values

[15, 'Changu', 4.45]

In [10]:
mix = [name, number] # Creating a new List using old list consisting String, int, and float values
mix

[['Khushi', 'Raj', 'Sarthak'], [1.5, 10, 400, 8.62]]

In [13]:
number.append(20) #using various functions
number

[1.5, 10, 400, 8.62, 20, 20, 20]

In [15]:
number.insert(1, 866)
number

[1.5, 866, 866, 10, 400, 8.62, 20, 20, 20]

In [16]:
number.remove(20)
number

[1.5, 866, 866, 10, 400, 8.62, 20, 20]

In [17]:
number.pop(-1)
number

[1.5, 866, 866, 10, 400, 8.62, 20]

In [18]:
del number[3:5]
number

[1.5, 866, 866, 8.62, 20]

In [19]:
number.extend(['montu', 'chotu'])
number

[1.5, 866, 866, 8.62, 20, 'montu', 'chotu']

In [21]:
del number[4:]
number

[1.5, 866, 866, 8.62]

In [24]:
Sum = sum(number)
Sum

1742.12