**Import pandas and numpy libraries**

In [1]:
import numpy as np 
import pandas as pd

**Read data from hiring.csv file and store it in dataframe df**

In [2]:
df = pd.read_csv("../input/practical2-ex/hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

**Fills NaN values in test_score column using fillna() method**

In [3]:
df["test_score(out of 10)"].fillna(df["test_score(out of 10)"].mean(), inplace = True)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN               8.000000                           9      50000
1        NaN               8.000000                           6      45000
2       five               6.000000                           7      60000
3        two              10.000000                          10      65000
4      seven               9.000000                           6      70000
5      three               7.000000                          10      62000
6        ten               7.857143                           7      72000
7     eleven               7.000000                           8      80000

**Converts categorical data into dummy variable**

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df = pd.get_dummies(df, columns=['experience'])
df

,test_score(out of 10),interview_score(out of 10),salary($),experience_eleven,experience_five,experience_seven,experience_ten,experience_three,experience_two
0,8.000000,9,50000,0,0,0,0,0,0
1,8.000000,6,45000,0,0,0,0,0,0
2,6.000000,7,60000,0,1,0,0,0,0
3,10.000000,10,65000,0,0,0,0,0,1
4,9.000000,6,70000,0,0,1,0,0,0
5,7.000000,10,62000,0,0,0,0,1,0
6,7.857143,7,72000,0,0,0,1,0,0
7,7.000000,8,80000,1,0,0,0,0,0

**Divides independent and dependent variables into X and y respectively**

In [5]:
X = df.iloc[:, [0,1,3,4,5,6,7,8]]
y = df.iloc[:, 2]

**Divides data into 80% training and 20% testing data**

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

**Import linear regression model and creates object of it**

In [7]:
from sklearn import linear_model
obj = linear_model.LinearRegression()

**Trains the model by using X_train and y_train**

In [8]:
obj.fit(X_train, y_train)

LinearRegression()

**Prints X_test dataset**

In [9]:
X_test

,test_score(out of 10),interview_score(out of 10),experience_eleven,experience_five,experience_seven,experience_ten,experience_three,experience_two
6,7.857143,7,0,0,0,1,0,0
2,6.000000,7,0,1,0,0,0,0

**Predicts output for testing data X_test**

In [10]:
obj.predict(X_test)

array([46494.04761905, 44250.        ])