**Import pandas and numpy libraries**

In [1]:
import numpy as np
import pandas as pd

**Read data from homeprices.csv file and store it in dataframe df**

In [2]:
df = pd.read_csv("../input/practical2-mlr/homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

**Fills NaN values in bedrooms column using fillna() method**

In [3]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.mean())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

**Import linear regression model and creates object of it**

In [4]:
from sklearn import linear_model
obj = linear_model.LinearRegression()

**Trains the model**

In [5]:
obj.fit(df[["area", "bedrooms", "age"]], df.price)

LinearRegression()

**Finds value of m(slope) in eq y = m*x + c**

In [6]:
obj.coef_

array([  116.66950551, 18756.28806982, -3675.75111708])

**Finds value of c(intercept) in eq y = m*x + c**

In [7]:
obj.intercept_

231586.00639409182

**Predicts the value of price for area=3100, bedrooms=4.0 and age=7**

In [8]:
obj.predict([[3100, 4.0, 7]])

array([642556.36792148])

**Finds value of price for area=3100, bedrooms=4.0 and age=7 using equation**

In [9]:
116.66950551*3100 + 18756.28806982*4.0 + (-3675.75111708)*7 + 231586.00639409182

642556.3679348119